.header-base {
  padding: 10px 15px;
}

.footer-base {
  padding: 10px 25px;
}


.main-home-nav-link {
  color: #376690;
}

.main-home-nav-link:hover {
  color: #e9967a;
  text-decoration: underline;
}


.search-box {
  display: flex;
  justify-content: center;
}

.login-btn {
  border: 1px solid rgba(128, 128, 128, 0.48);
  color: gray
}


.second-header-box {
  display: flex;
  justify-content: space-between;
}

.base-item-link {
  text-decoration: none;
  cursor: pointer;
  width: 100px;
  color: grey;
}









.dropdown-menu-box {
  /*display: none;*/
  /*display: flex;*/
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  top: 0;
  position: absolute;
  left: 348px;
  height: 556px;
  width: 1125px;
  background-color: white;
  /*border: none;*/
  /*padding: 15px 15px;*/
  padding: 15px 15px 15px 15px;
  /*border: 1px solid rgba(128, 128, 128, 0.18);*/
  /*overflow-y: auto;*/
  z-index: 10000;
}

.dropdown-menu-list {
  width: fit-content;
  list-style-type: none;
  margin-bottom: 20px;
  margin-right: 5px;
  border-radius: 5px;
  padding: 10px 10px 15px 10px;
  background-color: #8080800f;
}



.category-dropdown-wrapper {
  height: 556px;
  width: 100%;
  padding: 20px 0 20px 10px;
  /*border: 1px solid rgba(128, 128, 128, 0.18);*/
}


.category-dropdown-box{
  width: 350px;
  display: flex;
  height: 555px;
  position: absolute;
  background-color: white;
  /*border: 1px solid rgba(128, 128, 128, 0.18);*/
  z-index: 10000;
}


.category-home-list {
  text-align: left;
  /*margin-bottom: 30px;*/
  margin-bottom: 0;
  padding: 15px;
  font-size: medium;
  font-weight: normal;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  color: #376690;
}


.category-home-list:hover {
  background-color: rgba(233, 150, 122, 0.13);
}

.dropdown-menu-child:hover {
  cursor: pointer;
  text-decoration: underline;
}


/*.category-home-list:hover .dropdown-menu-box {*/
/*  display: flex;*/
/*}*/

.dropdown-menu-item:hover {
  cursor: pointer;
  text-decoration: underline;
  color: red;
}

.dropdown-menu-image {
  width: 145px;
  height: 145px;
  border-radius: 100px;
  border: 2px solid rgba(128, 128, 128, 0.21);
  padding: 6px;
  position: absolute;
  right: 5px;
  bottom: 5px;
}
