.header-base {
  padding: 10px 15px;
}

.footer-base {
  padding: 10px 25px;
}


.main-home-nav-link {
  color: #376690;
}

.main-home-nav-link:hover {
  color: darksalmon;
  text-decoration: underline;
}


.search-box {
  display: flex;
  justify-content: center;
}

.login-btn {
  border: 1px solid rgba(128, 128, 128, 0.48);
  color: gray
}

.second-header-box {
  display: flex;
  justify-content: space-between;
}

.base-item-link {
  text-decoration: none;
  cursor: pointer;
  width: 100px;
  color: grey;
}
