<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Natashop</title>
</head>
<body>
<div class="container bck-img">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between border-bottom bck-cl">
<!--  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom bck-cl">-->
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
              <img src="https://cdn-icons-png.flaticon.com/512/546/546064.png?w=826&t=st=1679395295~exp=1679395895~hmac=65c0a7c28fcabccbabcdcf7248bf08b1fac48564ae5ebdf7b61adbf443f59850"
                   alt="logo" style="width: 45px; height: 40px; margin-right: 5px">

              <h3>NataShop</h3>
            </a>
          </div>
    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a href="#" class="nav-link px-2 link-dark">Home</a></li>
      <li><a href="#" class="nav-link px-2 link-dark">Catalog</a></li>
      <li><a href="#" class="nav-link px-2 link-dark">Pricing</a></li>
      <li><a href="#" class="nav-link px-2 link-dark">Contacts</a></li>
      <li><a href="#" class="nav-link px-2 link-dark">About Us</a></li>
    </ul>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
              <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
            </form>

    <div class="col-md-3 text-end">
      <button type="button" class="btn btn-outline-dark me-2">Login</button>
      <button type="button" class="btn btn-dark btn-outline">Sign-up</button>
    </div>
  </header>
</div>

<div class="container" style="height: 400px">
  <h2>Product greed</h2>
</div>

  <div class="container bck-cl-container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center border-top bck-cl-footer">
      <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
          <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
        </a>
        <span class="mb-3 mb-md-0 text-muted">© 2022 Company, Inc</span>
      </div>

      <ul class="list-unstyled d-flex">
        <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
        <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
        <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
      </ul>
    </footer>
  </div>
</body>
</html>
