.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /*grid-column-gap: 2em;*/
  height: fit-content;
  border-left: grey 1px solid;
  border-top: grey 1px solid;
  /*grid-row-gap: 2em;*/
  margin-bottom: 40px;
}

.grid-wrapper-item {
  cursor: pointer;
  text-align: center;
  border-bottom: solid grey 1px;
  border-right: solid grey 1px;
  padding: 16px
}


.search-box {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}


.pagination {
  justify-content: center;
}


.page-item {
  color: black;
  float: left;
  text-decoration: none;
  padding: 8px 16px;
}


.activePage{
  background-color: rgba(245,185,160,0.38);
  border-radius: 50%;
}

.visibilityHidden {
  visibility:hidden;
}

.flex-list {
  /*max-height: 42px;*/
  display: flex;
  align-items: baseline;
  margin-bottom: 20px;
}


