<div class="container">
  <div style="display: flex; justify-content: space-between">
      <p><b>{{prod.name}}</b></p>
      <p> Price: {{prod.price}}$</p>

  </div>

  <hr>

  <div class="gallery">
    <div class="gallery-image-list">
        <img (click)="onGalleryItemSelected(mediaItem.variantsUrls.large)" class="gallery-image-item" *ngFor="let mediaItem of prod.medias"
             src="{{mediaItem.variantsUrls.small}}" alt="{{mediaItem.altText}}"
             (error)="onImageError($event)">
    </div>


    <div class="selected-image-container">
      <img class="selected-image-item"
           src="{{mainImage}}" alt="{{mainAltImageText}}"
           (error)="onImageError($event)">
    </div>
  </div>
  <div>
<!--    <p>Category:{{category.slug | transCategIdToName | async}}</p>-->
    <p>Category: <span *ngFor="let category of prod.categories">{{category.slug | transCategSlugToName | async}} , </span></p>
  </div>


  <hr>

  <div [innerHTML]="prod.fullDescription" style="max-width: 600px"></div>
</div>



