
.background1 {
  background-image: url("https://klondike.com.ua/upload/blog/izobrazhenie_viber_2021-10-29_11-34-22-051.jpg");
}

.background2 {
  background-image: url("https://klondike.com.ua/upload/wysiwyg/philosofers-stone-potal-susal-zolochenie-10.jpeg");
}

main-category {
  margin-bottom: 10px;
}

.category-name {
  text-align: center;
  cursor: pointer;
  margin-bottom: 5px;
  color: #376690;
}

.category-name:hover {
  text-decoration: underline;
}

.category-home-list {
  text-align: left;
  /*margin-bottom: 30px;*/
  margin-bottom: 0;
  padding: 15px;
  font-size: medium;
  font-weight: normal;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  color: #376690;
}


.category-home-list:hover {
  background-color: rgba(233, 150, 122, 0.13);
}


.main-banner-box {
  width: 80%;
  display: flex;
  margin: 0 160px 50px 160px;
  height: 501px;
  position: relative;
}


.dropdown-content {
  display: none;
  flex-direction: column;
  flex-wrap: wrap;
  top: 0;
  position: absolute;
  /*left: 276px;*/
  left: 314px;
  /* height: 500px; */
  height: 100%;
  /*width: 800px;*/
  width: 1107px;
  background-color: white;
  padding: 15px 15px;
  /*overflow-y: auto;*/
  z-index: 200000;
}

.dropdown-content-list {
  width: fit-content;
  list-style-type: none;
  margin-bottom: 20px;
  margin-right: 5px;
  border-radius: 5px;
  padding: 5px 5px 10px 5px;
  background-color: #8080800f;
}

.category-home-list:hover .dropdown-content {
  display: flex;
  /*border: 1px rgba(128, 128, 128, 0.52) solid;*/
}

.category-home-item:hover {
  cursor: pointer;
  text-decoration: underline;
  color: red;
}


.category-home-child:hover {
  cursor: pointer;
  text-decoration: underline;
}


/*.subcategory:last-child {*/
/*  margin-bottom: 20px;*/
/*}*/


.category-block {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 50px
}

.category-block-wrapper {
  width: 1500px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 2em;
  grid-column-gap: 2em;
}

.category-block-item {
  width: 470px;
  height: 428px;
  border: 1px solid rgba(128, 128, 128, 0.46);
  padding: 10px
}

.category-block-item-wrapper {
  display: flex;
  justify-content: center
}

.category-image {
  width: 200px;
  height: 200px;
}
